<jfc-alert *ngIf="potentialTeachers.length === 0; else showForm"
  type="info">
  No more users to make teachers
</jfc-alert>
<ng-template #showForm>
  <form name="form"
    (submit)="submit()"
    novalidate>
    <mat-form-field class="example-full-width">
      <input type="text"
        placeholder="New teacher"
        aria-label="New teacher"
        matInput
        [formControl]="selectionFormControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displaySelectedOptionFn">
        <mat-option *ngFor="let user of filteredOptions$ | async"
          [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button
      color="accent"
      aria-label="Add"
      type="submit"
      [disabled]="disabled || selectionFormControl.invalid">
      Add
    </button>
  </form>
</ng-template>
