<div class="fuse-card">

  <div class="mat-light-blue-600-bg">

    <div class="p-16"
      fxLayout="row"
      fxLayoutAlign="space-between center">
      <div class="pr-16">
        <div class="h1 font-weight-300">{{model.title}}</div>
      </div>

      <div>
        <button mat-icon-button
          [matMenuTriggerFor]="card19Menu"
          aria-label="more">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #card19Menu="matMenu">
          <button mat-menu-item
            color="accent"
            (click)="expand()">
            <mat-icon>fullscreen</mat-icon>
            <span>Expand</span>
          </button>
          <button mat-menu-item
            color="warn"
            [disabled]="model.deleting"
            (click)="delete()">
            <mat-icon>delete</mat-icon>
            <span>{{deleteButtonText}}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="model.link; else noLink">
            <a target="_blank"
              [href]="model.link">Link</a>
          </ng-container>
          <ng-template #noLink>
            No link
          </ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form name="linkForm"
        (submit)="submitLinkForm()"
        novalidate>
        <mat-form-field>
          <input matInput
            placeholder="Link"
            autocomplete="off"
            [formControl]="linkFormControl">
          <mat-error *ngIf="displayError(linkFormControl)">
            Please enter a link
          </mat-error>
        </mat-form-field>

        <button mat-button
          color="accent"
          [disabled]="isLinkSubmitDisabled()">{{updateButtonText}}</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{model.ingredientsTitle}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form name="ingredientsForm"
        (submit)="submitIngredientsForm()"
        novalidate>
        <div *ngFor="let row of ingredientsFormArray.controls; let i = index;">
          <mat-form-field>
            <input matInput
              placeholder="Quantity"
              autocomplete="off"
              [formControl]="row.get('quantity')">
            <mat-error *ngIf="displayError(row.get('quantity'))">
              Please enter a value
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput
              placeholder="Ingredient"
              autocomplete="off"
              [formControl]="row.get('food')">
            <mat-error *ngIf="displayError(row.get('food'))">
              Please enter a value
            </mat-error>
          </mat-form-field>
          <button mat-button
            color="warn"
            (click)="removeIngredient(i)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>
        <button mat-button
          color="accent"
          (click)="addIngredient()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-button
          color="accent"
          [disabled]="isIngredientsSubmitDisabled()">{{updateButtonText}}</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Prep
        </mat-panel-title>
        <mat-panel-description>
          {{ 'No prep'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput
          placeholder="Prep work">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Directions
        </mat-panel-title>
        <mat-panel-description>
          {{ 'No directions'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput
          placeholder="Directions">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
