<jfc-main-content data-test-id="upcoming-blocks-page">
  <h1 class="main-content-header">Upcoming blocks</h1>
  <div class="main-content-body">
    <jfc-loader *ngIf="loading$ | async; else loaded"></jfc-loader>
    <ng-template #loaded>
      <jfc-alert *ngIf="hasError$ | async; else content"
        type="error">
        <div *ngFor="let error of errorMessages$ | async">
          {{error}}
        </div>
      </jfc-alert>
      <ng-template #content>
        <jfc-alert *ngIf="hasWarnings$ | async"
          type="warning">
          <div *ngFor="let warning of warningMessages$ | async">
            {{warning}}
          </div>
        </jfc-alert>

        <mat-card class="pb-20 mb-20">
          <mat-card-header class="h2 pb-24 font-weight-500">
            Starting Wednesday, 16th of May
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content class="pt-24"
            fxLayout="row"
            fxLayoutGap="20px">
            <jfc-block-card [title]="'Blues Level 2'"
              [disabled]="false"
              [id]="'aaa'"
              [time]="'18:00 - 19:00'"
              [enrolButtonText]="'Enrol'"
              (enrol)="enrol($event)"></jfc-block-card>
            <br>
            <jfc-block-card [title]="'Blues Level 2'"
              [disabled]="true"
              [id]="'aaa'"
              [time]="'18:00 - 19:00'"
              [enrolButtonText]="'Already enrolled'"
              (enrol)="enrol($event)"></jfc-block-card>
          </mat-card-content>
        </mat-card>

        <mat-card class="pb-20 mb-20">
          <mat-card-header class="h2 pb-24 font-weight-500">
            Starting Thursday, 17th of May
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content class="pt-24"
            fxLayout="row"
            fxLayoutGap="20px">
            <jfc-block-card [title]="'Blues Level 2'"
              [disabled]="false"
              [id]="'aaa'"
              [time]="'18:00 - 19:00'"
              [enrolButtonText]="'Enrol'"
              (enrol)="enrol($event)"></jfc-block-card>
            <br>
            <jfc-block-card [title]="'Blues Level 2'"
              [disabled]="true"
              [id]="'aaa'"
              [time]="'18:00 - 19:00'"
              [enrolButtonText]="'Already enrolled'"
              (enrol)="enrol($event)"></jfc-block-card>
          </mat-card-content>
        </mat-card>

        <mat-card class="pb-20 mb-20">
          <mat-card-header class="h2 pb-24 font-weight-500">
            Starting Friday, 18th of May
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content class="pt-24"
            fxLayout="row"
            fxLayoutGap="20px">
            <jfc-block-card [title]="'Blues Level 2'"
              [disabled]="false"
              [id]="'aaa'"
              [time]="'18:00 - 19:00'"
              [enrolButtonText]="'Enrol'"
              (enrol)="enrol($event)"></jfc-block-card>
            <br>
            <jfc-block-card [title]="'Blues Level 2'"
              [disabled]="true"
              [id]="'aaa'"
              [time]="'18:00 - 19:00'"
              [enrolButtonText]="'Already enrolled'"
              (enrol)="enrol($event)"></jfc-block-card>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-template>
  </div>
</jfc-main-content>
