<jfc-main-content data-test-id="upcoming-blocks-page">
  <h1 class="main-content-header">Upcoming blocks</h1>
  <div class="main-content-body">
    <jfc-loader *ngIf="loading$ | async; else loaded"></jfc-loader>
    <ng-template #loaded>
      <jfc-alert *ngIf="hasError$ | async; else content"
        type="error">
        <div *ngFor="let error of errorMessages$ | async">
          {{error}}
        </div>
      </jfc-alert>
      <ng-template #content>
        <jfc-alert *ngIf="hasWarnings$ | async"
          type="warning">
          <div *ngFor="let warning of warningMessages$ | async">
            {{warning}}
          </div>
        </jfc-alert>

        <jfc-alert *ngIf="noAvailableBlocks$ | async; else groupings"
          type="info">
          No blocks currently available for registration
        </jfc-alert>
        <ng-template #groupings>
          <jfc-block-group *ngFor="let grouping of cards$ | async"
            [title]="grouping.title"
            [blockCards]="grouping.cards"
            (enrol)="enrol($event)"></jfc-block-group>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</jfc-main-content>
