<jfc-main-content data-test-id="new-block-page">
  <h1 class="main-content-header">Create new block</h1>
  <div class="main-content-body">
    <jfc-loader *ngIf="loading$ | async; else loaded"></jfc-loader>
    <ng-template #loaded>
      <jfc-alert *ngIf="hasError$ | async; else content"
        type="error">
        <div *ngFor="let error of errorMessages$ | async">
          {{error}}
        </div>
      </jfc-alert>
      <ng-template #content>
        <jfc-alert *ngIf="hasWarnings$ | async"
          type="warning">
          <div *ngFor="let warning of warningMessages$ | async">
            {{warning}}
          </div>
        </jfc-alert>
        <jfc-block-form [disabled]="disabled$ | async"
          [saveButtonText]="saveButtonText$ | async"
          [teachers]="teachers$ | async"
          (save)="save($event)"></jfc-block-form>
      </ng-template>
    </ng-template>
  </div>
</jfc-main-content>
