<h1>Welcome to Vallum</h1>

<ng-container *ngIf="!selectedPerson; else: confirmUpdate">
  <p>We can copy your details over from the companies register</p>
  <app-search-companies-entity (entitySelected)="personSelected($event)"></app-search-companies-entity>
</ng-container>
<ng-template #confirmUpdate>
  <jfc-alert *ngIf="(updateError$ | async) as error" type="error">{{ error }}</jfc-alert>
  <jfc-alert *ngIf="(updateSucceed$ | async)" type="success">Thanks, we've copied your details</jfc-alert>
  <table>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>{{ [selectedPerson.firstName, selectedPerson.middleName, selectedPerson.lastName].join(' ') }}</td>
      <td>{{ selectedPerson.associatedCompanyName }}</td>
      <td>{{ selectedPerson.physicalAddress.addressLines.join(', ') }}</td>
    </tr>
  </table>

  <button
    mat-raised-button
    color="primary"
    class="submit-button"
    type="submit"
    aria-label="This is me"
    [disabled]="isUpdating$ | async"
    (click)="update()"
  >
    This is me
  </button>

  <button mat-raised-button aria-label="Search again" [disabled]="isUpdating$ | async" (click)="reset()">
    Search again
  </button>
</ng-template>
