<h1>Home of Vallum</h1>

<h2>Find yourself</h2>
<app-search-companies-entity (entitySelected)="personSelected($event)"></app-search-companies-entity>

<jfc-alert *ngIf="(updateError$ | async) as error" type="error">{{ error }}</jfc-alert>
<jfc-alert *ngIf="(updateSucceed$ | async)" type="success">Your details have been updated</jfc-alert>
<div *ngIf="selectedPerson">
  <pre>{{ selectedPerson.name }}</pre>

  <button
    mat-raised-button
    color="accent"
    class="submit-button"
    type="submit"
    aria-label="Update your details"
    [disabled]="isUpdating$ | async"
    (click)="update()"
  >
    Update your details
  </button>
</div>
