<jfc-alert *ngIf="teachers.length === 0; else showTeachers"
  type="info">
  No teachers. Want to add one?
</jfc-alert>
<ng-template #showTeachers>
  <div class="mat-elevation-z8">
    <mat-table #table
      [dataSource]="teachers">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button
            color="warn"
            [disabled]="element.disableActions"
            (click)="remove.emit(element.id)">Remove</button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</ng-template>
