<mat-card class="pb-20 mb-20">
  <mat-card-header class="h2 pb-24 font-weight-500">
    {{title}}
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <div *ngFor="let group of groupedByTime"
      class="pt-24"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="start"
      fxFlexAlign="start"
      fxLayoutGap="20px grid">
      <jfc-block-card *ngFor="let card of group"
        [model]="card"
        (enrol)="enrol.emit($event)"></jfc-block-card>
    </div>
  </mat-card-content>
</mat-card>
