<div class="fuse-card">

    <div class="mat-light-blue-600-bg">

        <div class="p-16"
          fxLayout="row"
          fxLayoutAlign="space-between center">
          <div class="pr-16">
            <div class="h1 font-weight-300">Add new meal</div>
          </div>
        </div>
      </div>

      <div class="p-16"
        fxLayout="row"
        fxLayoutAlign="space-between center">
        <div class="pr-16">
            <form name="form"
            (submit)="submit()"
            novalidate>
            <mat-form-field>
              <input matInput
                placeholder="Meal name"
                autocomplete="off"
                [formControl]="nameFormControl">
              <mat-error *ngIf="displayError('name')"
                data-test-id="name-validation">
                Please enter a name
              </mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="card-divider mt-0"></div>

      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button
            color="accent"
            [disabled]="isSubmitDisabled()"
            (click)="submit()">{{createButtonText}}</button>
      </div>
  </div>
