<jfc-main-content>
  <h1 class="main-content-header">Teachers</h1>
  <div class="main-content-body">
    <jfc-loader *ngIf="loading$ | async; else loaded"></jfc-loader>
    <ng-template #loaded>
      <jfc-alert *ngIf="hasError$ | async; else content"
        type="error">
        <p *ngFor="let error of errorMessages$ | async">
          {{error}}
        </p>
      </jfc-alert>
      <ng-template #content>
        <jfc-add-new-teacher [potentialTeachers]="potentialTeachers$ | async"
          (addTeacher)="addTeacher($event)"></jfc-add-new-teacher>
        <jfc-view-teachers [teachers]="teachers$ | async"
          (remove)="remove($event)"></jfc-view-teachers>
      </ng-template>
    </ng-template>
  </div>
</jfc-main-content>
