<jfc-main-content>
  <h1 class="main-content-header">Meals</h1>
  <p class="main-content-body">
    <ng-container *ngIf="loading$ | async; else loaded">
      loading...
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="error$ | async as error; else content">
        {{error}}
      </ng-container>
      <ng-template #content>
        <ng-container *ngIf="hasNoMeals$ | async">
          You don't have any meals. Why don't you add one?
        </ng-container>
        <div fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="stretch"
          fxFlexAlign="stretch"
          fxLayoutGap="10px grid">
          <div class="card-container">
            <jfc-new-meal-card [creating]="creating$ | async"
              [reset]="created$ | async"
              (create)="create($event)"></jfc-new-meal-card>
          </div>
          <div *ngFor="let meal of allMeals$ | async; trackBy: mealTrackByFn"
            class="card-container">
            <jfc-meal-card [model]="meal"
              (updateLink)="updateLink($event, meal)"
              (updateIngredients)="updateIngredients($event, meal)"
              (expandClicked)="expand(meal)"
              (deleteClicked)="delete(meal)"></jfc-meal-card>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </p>
</jfc-main-content>
