<jfc-main-content>
  <h1 class="main-content-header">Meals</h1>
  <p class="main-content-body">
    <ng-container *ngIf="loading$ | async; else loaded">
      loading...
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="error$ | async as error; else content">
        {{error}}
      </ng-container>
      <ng-template #content>
        <ng-container *ngIf="hasNoMeals$ | async">
          You don't have any meals. Why don't you add one?
        </ng-container>
        <mat-grid-list cols="2"
          rowHeight="2:1">
          <mat-grid-tile>
            <jfc-editable-meal-card [creating]="creating$ | async"
              [reset]="created$ | async"
              (create)="create($event)"></jfc-editable-meal-card>
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let meal of allMeals$ | async; trackBy: mealTrackByFn">
            <jfc-meal-summary-card [model]="meal"
              (deleteClicked)=delete(meal)></jfc-meal-summary-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </ng-template>
  </p>
</jfc-main-content>
