<jfc-main-content>
  <h1 class="main-content-header">Meals</h1>
  <p class="main-content-body">
    <ng-container *ngIf="loading$ | async; else loaded">
      loading...
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="error$ | async as error; else content">
        {{error}}
      </ng-container>
      <ng-template #content>
        <ng-container *ngIf="hasNoMeals$ | async">
          You don't have any meals. Why don't you add one?
        </ng-container>
        <div fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="stretch"
          fxFlexAlign="stretch"
          fxLayoutGap="10px grid">
          <jfc-new-meal-card [creating]="creating$ | async"
            [reset]="created$ | async"
            (create)="create($event)"></jfc-new-meal-card>
          <jfc-meal-card *ngFor="let meal of allMeals$ | async; trackBy: mealTrackByFn"
            [model]="meal"
            (deleteClicked)=delete(meal)></jfc-meal-card>
        </div>
      </ng-template>
    </ng-template>
  </p>
</jfc-main-content>
